@model MVC.PV.Models.Person
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-10">
                    <span>@Html.DisplayFor(p => p.Name)</span>
                </div>
                <div class="col-md-2">
                    @*<button class="btn btn-primary btn-sm pull-right">Edit</button>*@
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <span><strong>Phonenumber: </strong>@Html.DisplayFor(p => p.Phonenumber)</span>
                </div>
                <div class="col-md-6">
                    <span><strong>City: </strong>@Html.DisplayFor(p => p.City)</span>
                </div>
            </div>
        </div>
    </div>
</div>